:root {
  --main-font: 'Work Sans', sans-serif;
}
body {
  color: white;
  background-color: black;
  margin: 0;
  padding: 0;
}
#header {
  height: 20vh;
  display: grid;
  align-items: center;
  grid-template-columns: 4fr 5fr;
  padding: 0 250px;
}
.title {
  font-size: 36px;
  font-family: var(--main-font);
  letter-spacing: 0.2rem;
}
#content {
  height: 80vh;
}