:root {
  --main-font: 'Work Sans', sans-serif;
}
body {
  margin: 0;
  padding: 0 20vw;
  background-color: black;
  color: white;
}
#header {
  height: 16vh;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}
.title {
  font-size: 3vh;
  font-family: var(--main-font);
  letter-spacing: 0.2rem;
}
.navBar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: end;
  gap: 100px;
  font-family: var(--main-font);
  letter-spacing: 0.1rem;
  align-items: center;
  font-size: 2vh;
}
.icon {
  width: 48px;
}
.title, .navItem {
  cursor: pointer;
}
.navItem:hover {
  transform: scale(1.1);
}
#content {
  height: 78vh;
  padding: 0 4vw;
  display: flex;
}
#footer {
  height: 6vh;
}
.carousel {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.images {
  white-space: nowrap;
}
.carousel-item {
  display: inline-flex;
  width: 100%;
}
.carousel-img {
  width: 100%;
  border-radius: 20px;
}
.carouselButtons {
  position: absolute;
  display: flex;
  gap: 55vw;
}
.carouselPrevious, .carouselNext {
  height: 3vh;
  width: 3vh;
  border-radius: 50%;
  background-color: white;
}